body{
    display: grid;
    background-color:rgb(255, 255, 255);
   
    
    
}
.sidebar{

}
.nav-bar{
    width: 373px;
    height: 100%;
    flex-shrink: 0;
    background: #242830;
    color: #FFF;
    font-family: "Times New Roman";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    float: left;
    
    
}
.nav-bar > ul {
    list-style-type: none;
}
.nav-bar > .list{
    list-style: disc;
}
.hr{
    width: 240.004px;
    height: 2px;
    background: #FFF;
    align-items: center;
}
.nav-bar .img{
    width: 214px;
    height: 214px;
    display: block; 
    margin: 0 auto;
    
    display: flex;
    border-radius: 5px;
   
    
   
    

    


}
.class2{
 color: #000;
font-family: "Times New Roman";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px;
display: flex;
  flex-direction: column;
}
.list{
    list-style: none;
    display: none

}
footer{
    background-color: #0A111F;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-size-adjust: inherit;
    width: 1550px;

}
footer > p{
    color: white;
    font-family: initial;
    align-items: center;
    text-align: center;
    
}
.experinase list > .text-after-sidebar{
       
        text-align: right;
        font-size: 160px; 
        color: #000000; 
        float: right; 
        display: flex;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center; 

    }
.text-after-sidebar > hr{
    padding: px;
    width:auto;
    height: 3px;
    background: #030000;
    
}
.btn-toggle,
.btn-toggle-nav li a {
  color: white !important;
  background-color: #273651 !important;
  border-color: #323B4C !important; 
  gap: 10px;
  display: flex;
}
.intiation{
    padding-bottom: 200px;


}
.text-after-sidebar{
    padding-inline-start: 430px;
}
@media screen and (max-width: 768px) {
    /* Styles for screens less than or equal to 768px wide (typical mobile) */
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* Styles for screens between 768px and 992px wide (typical tablet) */
  }
  
  @media screen and (min-width: 992px) {
    /* Styles for screens greater than or equal to 992px wide (typical desktop) */
  }
  

    
